## Future Sales

In [1]:
##libraries
import pandas as pd
import numpy as np

In [2]:
file_train = "data/sales_train.csv"
file_test = "data/test.csv"

In [3]:
df = pd.read_csv(file_train)

In [4]:
df.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [ ]:
df

In [9]:
# Features (columns) will be used
X_columns = ['date_block_num', 'shop_id', 'item_id']

# Convert to Array
X = df[X_columns].values
y = df['item_cnt_day'].values

In [10]:
# Scale the data

from sklearn import preprocessing

scaler = preprocessing.StandardScaler()
scaler.fit(X)
X = scaler.transform(X.astype(float))
X

array([[-1.54620959,  1.60216425,  1.89060923],
       [-1.54620959, -0.49311289, -1.20886605],
       [-1.54620959, -0.49311289, -1.20886605],
       ...,
       [ 1.95586498, -0.49311289, -0.43296945],
       [ 1.95586498, -0.49311289, -0.43597373],
       [ 1.95586498, -0.49311289, -0.43281133]])

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=3)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (2348679, 3) (2348679,)
Test set: (587170, 3) (587170,)

In [ ]:
from sklearn import svm
svr = svm.SVR()
svr.fit(X_train, y_train)